<% if user_signed_in? %>
 # show them something 
 		<h1>Welcome to Image Uploader</h1>
 <% else %>
	 <div class="hero-unit">
		<h1>Welcome to Image Uploader</h1>
		<p>
			Upload photos and stuff 
			<%= link_to "Link", "http://nolanm.com"%>
			to me
		</p>
		<p>
			<%= link_to "Sign Up Now", new_user_registration_path, class: "bntn btn-primary btn large"%>
		</p>
	</div>
<% end %>